absl-py==0.7.0
astor==0.7.1
backports.weakref==1.0.post1
funcsigs==1.0.2
gast==0.2.2
Markdown==3.0.1
mock==2.0.0
numpy==1.16.1
pbr==5.1.2
tensorboard==1.9.0
tensorflow-gpu==1.9.0+nv18.8
termcolor==1.1.0
Werkzeug==0.14.1
